<!-- fragment_header_main -->
<th:block th:fragment="header_main">

    <!-- header -->
    <header>
        <!-- label -->
        <a class="header_label" onclick="window.location.href='/'">
            <div class="header_barrier"><img class="header_logo" src="/img_sys/1000new.png"/></div>
            <p class="header_title">Squadrom</p>
        </a>

        <!-- nav -->
        <div class="header_nav">
            <button class="header_btn" onclick="window.location.href='/club'">Клуб</button>
            <button class="header_btn" onclick="window.location.href='/about'">О нас</button>
            <button class="header_btn" onclick="window.location.href='/cabinet/favourite'">Избранное</button>

            <button th:if="${user.get_authorized()}" class="header_btn" onclick="window.location.href='/cabinet/edit'">
                <img class="header_avatar" th:src="${user.get_link_avatar()}">
            </button>
            <button th:unless="${user.get_authorized()}" class="header_btn" onclick="modal_login()">Войти</button>
        </div>
    </header>

    <th:block th:insert="~{fragments/model_window/register_login :: form_register_login}"/>
    <th:block th:insert="~{fragments/model_window/notification :: notification}"/>

</th:block>