<!-- fragment_head_main -->
<head th:fragment="head_main">
    <title th:text="${user.title}"/>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name = "description" content="Купить дрон на Squadrom">
    <meta name = "keywords" content = "купить дроны, Squadrom, дроны, Москва, заказать, с доставкой, GPS, FTP">
    <meta name = "robots" content="index, follow">
    <meta name = "verification" content="">
    <link rel="icon" href="/img_sys/1000new.png">
    <link rel="stylesheet" href="/style.css">
</head>