<!-- fragment_model_window_register_login -->
<th:block th:fragment="form_register_login">
    <!-- modal_window -->
    <form class="modal_window" id="modal_window" action="/" method="post" data-modal>
        <!-- login -->
        <ul class="modal" id="modal_login">
            <li>
                <p class="modal_title">Вход</p>
                <button class="modal_close" type="button" onclick="modal_login_close()">&times;</button>
            </li>
            <li><input class="modal_input" type="email" name="login_email" placeholder="Почта"/></li>
            <li><input class="modal_input" type="password" name="login_password" placeholder="Пароль"/></li>
            <li><input class="modal_enter" type="submit" name="login_enter" value="Войти"></li>
            <li><hr></li>
            <li><p class="modal_transition">НЕ ИСПОЛЬЗУЙ ENTER</p></li>
            <li><button class="modal_transition" type="button" onclick="modal_register()">Регистрация</button></li>
            <li><a class="modal_transition" href="#">Забыли пароль?</a></li>
        </ul>

        <!-- register -->
        <ul class="modal" id="modal_register">
            <li>
                <p class="modal_title">Регистрация</p>
                <button class="modal_close" type="button" onclick="modal_register_close()">&times;</button>
            </li>
            <li><input class="modal_input" type="login" name="register_login" placeholder="Логин"/></li>
            <li><input class="modal_input" type="email" name="register_email" placeholder="Почта"/></li>
            <li><input class="modal_input" type="password" name="register_password" placeholder="Пароль"/></li>
            <li><input class="modal_enter" type="submit" name="register_enter" value="Зарегестрироваться"></li>
            <li><hr></li>
            <li><p class="modal_transition">НЕ ИСПОЛЬЗУЙ ENTER</p></li>
            <li><button class="modal_transition" type="button" onclick="modal_login()">Войти</button></li>
            <li><a class="modal_transition" href="#">Забыли пароль?</a></li>
        </ul>
    </form>
</th:block>